@page

<div class="createJoinPage Page centeredContent">
    <div class="centeredContent__content">
        <a class="button" id="createButton">Create Lobby</a>
        <form id="joinForm" class="pageVhSeparation--top">
            <input type="text" name="join" placeholder="Lobby ID" />
            <input type="submit" name="name" value="Join Lobby" />
        </form>

    </div>

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/createJoin.js"></script>
