@page
<div class="IndexPage Page centeredContent">
    <div class="centeredContent__content">
        <div>
            <a class="button" id="joinRandom">Quick Play</a>
        </div>
        <div class="pageVhSeparation--top">
            <a class="button" asp-area="" asp-page="/CreateJoin">Create/Join</a>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/joinRandom.js"></script>